<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:supportsRtl="true">
        <activity
            android:name=".ScreenCheckerActivity"
            android:exported="false"
            android:resizeableActivity="true"
            android:screenOrientation="fullUser" />
    </application>
</manifest>
